{% extends "base.html" %}

{% block content %}
    <div class="border round">
        <h1 class="my-5">
            {{ note.title }}{% if note.is_public %}<span class="badge bg-secondary">Public</span>{% endif %}</h1>
        <p>{{ note.text }}</p>
        <p>No. Likes: {{ note.likes }}</p>
    </div>

    <form method="post" class="d-inline" action="{% url 'notes.add_like' pk=note.id %}">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary my-5">
            Upvote
        </button>
    </form>
    <form method="post" class="d-inline" action="{% url 'notes.toggle_is_public' pk=note.id %}">{% csrf_token %}
        <button type="submit" class="btn btn-secondary my-5">
            Set {% if not note.is_public %}
            Public
        {% else %}
            Private
        {% endif %}
        </button>
    </form>
    <a href="{% url 'notes.list' %}" class="btn btn-secondary my-5">
        Back
    </a>
    <a href="{% url 'notes.update' pk=note.id %}" class="btn btn-secondary">
        Edit
    </a>
    <a href="{% url 'notes.delete' pk=note.id %}" class="btn btn-danger">
        Delete
    </a>
{% endblock %}
